#title {
    background-color: #e92542;
    color: #fff;
}

h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15%;
}

body {
    font-family: "Montserrat";
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: light;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {

    width: 60%;
}

.title-image {
    text-align: left;
}

.rotated {
    transform: rotate(25deg);
}